<p>尊敬的{{.Cid}}: </p>
<br>
<p>您好, </p>
<br>

<p>您在{{.Time}}时, 重置了您的飞控登录密码</p>
<p>IP: {{.IP}}</p>
<p>用户代理: {{.UserAgent}}</p>
<br>
<p>如果您对该密码重置请求有印象, 请忽略此消息</p>
<p>如果您没有进行该请求, 这代表其他人可能使用了您的账户</p>
<p>请联系管理员</p>

<br>
<p>如有疑问请联系: <a href="mailto:{{.Contact}}">{{.Contact}}</a></p>
<br>

<p>以上, </p>
<p>技术支持部</p>